@charset "UTF-8";
/* CSS Document */

body, h1, ul {
  margin: 0;
  padding: 0;

}

body{
	background-color: lavenderblush;
}

header.sticky-title {
    background-color: #333; /* Set your preferred background color */
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 50px;
	top: 0;
    z-index: 1000; /* Set a higher z-index to ensure it's above other elements */
	
}

header.sticky-title h1 {
	
    color: white; /* Set your preferred text color */
    margin: 0;
	position: absolute;
	right: 43%;
	font-family: "Bebas Neue", sans-serif;
 	font-weight: 400;
  	font-style: normal;
	font-size: 30px; 
	text-decoration: none;
	
	
}

/* Style for the navigation/menu */
.barmenu {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the menu stays above other content */
	width: 100%;
	background-color: white;
	height: 60px; /* adjust height of barmenu*/
	margin-top: 50px;
}

.barmenu ul.menuitems {
 	width: 100%;
	list-style: none;
  	display: flex;
    text-align: center; /* Center the text within the menu */
}

.barmenu li {
  	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-right: 25px; /* Add space between menu items */
	text-align: center;
}

.barmenu a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none ;
 	color: black;
	font-size: 20px;
  	font-weight: normal;
	margin-bottom: auto;
	display: inline-block; /* Ensure the anchor tags are inline blocks */
    padding: 10px 10px; /* Add padding to anchor tags for better clickability */
    /* Other link styles */
	
	
}
	

/* Adjust letter-spacing for the text within the menu */
.barmenu a {
    font-family: 'Raleway', sans-serif;
	text-decoration: none;
    letter-spacing: 5px; /* Adjust the letter spacing */
	text-align: center;
}

* { 
	margin: 0;
    padding: 0;
}

.Portfolio-title {
			color: black;
            text-decoration: none;
			font-family: "Bebas Neue", sans-serif;
 			font-weight: 400;
  			font-style: normal;
			font-size: 50px;
			text-align: center;
			padding: 30px;
			
	
}


.movies {
	text-align: center;
}

.box-button {
            cursor: pointer;
            overflow: hidden;
            position: relative;
            width: 300px;
            height: 200px;
            border: 1px solid #ccc;
            border-radius: 8px;
            transition: transform 0.3s ease;
		margin: 50px;
	display: inline-block;
        }

        .box-button:hover {
            transform: scale(1.1);
			
        }

        .thumbnail {
            width: 100%;
            height: auto;
        }

        .caption {
            font-family: 'Raleway', sans-serif;
			text-decoration: none ;
			position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            padding: 8px;
            text-align: center;
			
        }

        .video-modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
        }

        #video-player {
            width: 80%;
            max-height: 80%;
            border-radius: 8px;
        }

        .close-button {
            position: absolute;
            bottom: 50px;
            right: 30px;
            cursor: pointer;
            color: #fff;
			font-size: 30px;
        }
